
.sidebar {
    display: flex;
    align-items: center;
    gap: 25px;          /* Space between Home, Dashboard, Map... */
    padding: 15px 20px;
    background-color: #1e293b;
}

.sidebar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 5px;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #334155;
}

.sidebar a.active {
    background-color: #2563eb;
}