.sidebar{

    width:220px;

    background:#1E293B;

    display:flex;

    flex-direction:column;

}

.sidebar a{

    color:white;

    text-decoration:none;

    padding:15px;

}

.sidebar a:hover{

    background:#334155;

}

.sidebar a.active{

    background:#2563EB;

}